<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">プロンプトを編集</h5>
      </div>
      <div class="card-body">
        <%= form_with(model: @prompt, local: true) do |f| %>
          <% if @prompt.errors.any? %>
            <div class="alert alert-danger">
              <ul class="mb-0">
                <% @prompt.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class="mb-3">
            <%= f.label :title, "タイトル", class: "form-label" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          
          <div class="mb-3">
            <%= f.label :url, "URL", class: "form-label" %>
            <%= f.url_field :url, class: "form-control" %>
          </div>
          
          <div class="mb-3">
            <%= f.label :description, "説明", class: "form-label" %>
            <%= f.text_area :description, rows: 10, class: "form-control" %>
          </div>
          
          <div class="d-flex justify-content-between">
            <%= link_to "キャンセル", prompt_path(@prompt), class: "btn btn-outline-secondary" %>
            <%= f.submit "更新する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
